FEISHU_WEBHOOK=
FEISHU_SECRET=
MANUAL_TRIGGER_TOKEN=
TGB_COOKIE=
LLM_BASE_URL=
LLM_API_KEY=
TENCENT_COS_SECRET_ID=
TENCENT_COS_SECRET_KEY=
TENCENT_COS_BUCKET=
TENCENT_COS_REGION=
TENCENT_COS_BASE_URL=
